<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<h2>Articles (<%- category %>, <%= page %> of <%= page_max %>)</h2>

<ul>
  <%_ contextEntries.forEach(entry => { %>
  <li>
    <article class="entry">
      <h3><a href="/<%- entry.file %>"><%- entry.title %></a></h3>
      <time datetime="<%- entry.date %>"><%- entry.date %></time>
      <p><%- entry.description %></p>
      <p>Tags: <% tags.forEach((tag, i) => { %><% if (i !== 0) { %>, <% } %><a href="/tags/<%- tag.tag_url %>/index.html"><%- tag.tag %></a><% }) %></p>
      <p>Category: <a href="/categories/<%- entry.category.category_url %>/index.html"><%- entry.category.category %></a></p>
    </article>
  </li>
  <%_ }) %>
</ul>

<p>
  <%- page %> / <%- page_max %>
</p>

</body>
</html>
