<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<h2>Articles (<%= category %>, <%= page %> of <%= page_max %>)</h2>

<ul>
  <%_ contextEntries.forEach(entry => { %>
  <li>
    <article class="entry">
      <h3><a href="/<%= entry.file %>"><%= entry.title %></a></h3>
      <time datetime="<%= entry.date.date_iso %>"><%= entry.date.date_str %></time>
      <p><%= entry.description %></p>
      <p>Tags: <% tags.forEach((tag, i) => { %><% if (i !== 0) { %>, <% } %><a href="/tags/<%= tag.tag_url %>/index.html"><%= tag.tag %></a><% }) %></p>
      <p>Category: <a href="/categories/<%= entry.category.category_url %>/index.html"><%= entry.category.category %></a></p>
      <%_ if (entry.main) { %>
      <hr>
      <%- entry.main %>
      <%_ } _%>
    </article>
  </li>
  <%_ }) %>
</ul>

<hr>

<ul>
  <%_ if (!is_first) { -%>
  <li><a href="<%= prev_url %>.html">← Previous</a></li>
  <%_ } -%>
  <%_ pages_5.forEach(page => { -%>
  <li><% if (page.is_current) { %><%= page.page %><% } else { %><a href="<%= page.page_url %>.html"><%= page.page %></a><% } %></li>
  <%_ }) -%>
  <%_ if (!is_last) { -%>
  <li><a href="<%= next_url %>.html">Next →</a></li>
  <%_ } -%>
</ul>

<hr>

<h2>Tags</h2>
<ul>
  <%_ tags.forEach(tag => { -%>
  <li><a href="/tags/<%= tag.tag_url %>/index.html"><%= tag.tag %></a></li>
  <%_ }) -%>
</ul>

<h2>Categories</h2>
<ul>
  <%_ categories.forEach(cat => { -%>
  <li><a href="/categories/<%= cat.category_url %>/index.html"><%= cat.category %></a><% if (cat.category === category) { %>★<% } %></li>
  <%_ }) -%>
</ul>

<h2>Monthly Archives</h2>
<ul>
  <%_ months.forEach(month => { -%>
  <li><a href="/months/<%= month.month_url %>/index.html"><%= month.month_str %></a></li>
  <%_ }) -%>
</ul>

</body>
</html>
