<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<header>
  <h1>Cool website</h1>
</header>

<hr>

<h2>Events</h2>

<ul>
  <%_ contextEntries.forEach(entry => { %>
  <li>
    <article class="entry">
      <h3><a href="/<%= entry.file %>"><%= entry.title %></a></h3>
      <time datetime="<%= entry.date_iso %>"><%= entry.date_str %> <%= entry.time %></time>
      <p><%= entry.organiser %></p>
      <p>Tags: <% entry.tags.forEach((tag, i) => { %><% if (i !== 0) { %>, <% } %><a href="/events/themes/<%= tag.tag_url %>/"><%= tag.tag %></a><% }) %></p>
    </article>
  </li>
  <%_ }) %>
</ul>

<hr>

<h2>Date</h2>
<ul>
  <%_ dates.forEach(date => { -%>
  <li><a href="/events/<%= date.date_iso %>/"><%= date.year %>.<%= date.month_2 %>.<%= date.date_2 %> <%= date.day_abbr %>.</a></li>
  <%_ }) -%>
</ul>

<hr>

<h2>Theme</h2>
<ul>
  <%_ tags.forEach(tag => { -%>
  <li><a href="/events/themes/<%= tag.tag_url %>/"><%= tag.tag %></a></li>
  <%_ }) -%>
</ul>

</body>
</html>