<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<header>
  <h1>Cool website</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stories/index.html">Stories</a></li>
      <li><a href="/events/index.html">Events</a></li>
    </ul>
  </nav>
  <hr>
</header>

<h2>Events (<%= tag %>, <%= page %> of <%= page_max %>)</h2>

<ul>
  <%_ contextEntries.forEach(entry => { %>
  <li>
    <article class="event">
      <h3><a href="/<%= entry.file %>"><%= entry.title %></a></h3>
      <time datetime="<%= entry.date_iso %>"><%= entry.date_str %></time>
      <p><%= entry.description %></p>
      <p>Tags: <% entry.tags.forEach((tag, i) => { %><% if (i !== 0) { %>, <% } %><a href="/events/tags/<%= tag.tag_url %>/index.html"><%= tag.tag %></a><% }) %></p>
    </article>
  </li>
  <%_ }) %>
</ul>

<hr>

<ul>
  <%_ if (!is_first) { -%>
  <li><a href="<%= prev_url %>.html">← Previous</a></li>
  <%_ } -%>
  <%_ pages_5.forEach(page => { -%>
  <li><% if (page.is_current) { %><%= page.page %><% } else { %><a href="<%= page.page_url %>.html"><%= page.page %></a><% } %></li>
  <%_ }) -%>
  <%_ if (!is_last) { -%>
  <li><a href="<%= next_url %>.html">Next →</a></li>
  <%_ } -%>
</ul>

<hr>

<h2>Monthly Archives</h2>
<ul>
  <%_ months.forEach(month => { -%>
  <li><a href="/events/months/<%= month.month_url %>/index.html"><%= month.month_str %></a></li>
  <%_ }) -%>
</ul>

<h2>Tags</h2>
<ul>
  <%_ tags.forEach(tag_ => { -%>
  <li><a href="/events/tags/<%= tag_.tag_url %>/index.html"><%= tag_.tag %></a><% if (tag_.tag === tag) { %>★<% } %></li>
  <%_ }) -%>
</ul>

</body>
</html>
