<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<header>
  <h1>Cool website</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stories/index.html">Stories</a></li>
      <li><a href="/events/index.html">Events</a></li>
    </ul>
  </nav>
  <hr>
</header>

<h2>Articles (<%= page %> of <%= page_max %>)</h2>

<ul>
  <%_ contextEntries.forEach(entry => { %>
  <li>
    <article class="entry">
      <h3><a href="/<%= entry.file %>"><%= entry.title %></a></h3>
      <time datetime="<%= entry.date.date_iso %>"><%= entry.date.date_str %></time>
      <p><%= entry.description %></p>
      <p>Category: <a href="/categories/<%= entry.category.category_url %>/index.html"><%= entry.category.category %></a></p>
    </article>
  </li>
  <%_ }) %>
</ul>

<hr>

<ul>
  <%_ if (!is_first) { -%>
  <li><a href="<%= prev_url %>.html">← Previous</a></li>
  <%_ } -%>
  <%_ pages_5.forEach(page => { -%>
  <li><% if (page.is_current) { %><%= page.page %><% } else { %><a href="<%= page.page_url %>.html"><%= page.page %></a><% } %></li>
  <%_ }) -%>
  <%_ if (!is_last) { -%>
  <li><a href="<%= next_url %>.html">Next →</a></li>
  <%_ } -%>
</ul>

<hr>

<h2>Categories</h2>
<ul>
  <%_ categories.forEach(category => { -%>
  <li><a href="/categories/<%= category.category_url %>/index.html"><%= category.category %></a></li>
  <%_ }) -%>
</ul>

</body>
</html>
